@value colors: '../../../ColorMods.module.css';

.profile-page-container--wrapper{
    background-color: var(--background-main);
    padding-top: 4rem;
}


.context{
    display: inherit;
    flex-direction: row;
    ackground-color: var(--background-main);
}

.navigation{
    width: 15%;
    margin-top: 2rem;
    position: fixed;
}

.content{
    width: 85%;
    height: 200rem;
    margin-left: 15%;
}

@media (max-width: 950px){
    .profile-page-container--main{
        flex-direction: column;
        width: 100%;
    }

    .navigation{
        width: revert;
    }

    .content{
        width: revert;
        height: 100%;
    }
}