@value colors: '../../../ColorMods.module.css';

.profile-page-container--wrapper{
    padding-top: 4rem;
    transition: background-color .4s;
}


.context{
    display: inherit;
    flex-direction: row;
    background-color: var(--color-background-primary);
    transition: background-color 0.4s;
}

.navigation{
    width: 15.5%;
    margin-top: 2.8rem;
    position: fixed;
}

.content{
    width: 85%;
    height: 200rem;
    margin-left: 15%;
}

@media (max-width: 950px){
    .profile-page-container--main{
        flex-direction: column;
        width: 100%;
    }

    .navigation{
        width: revert;
    }

    .content{
        width: revert;
        height: 100%;
    }
}