@value colors: '../../../ColorMods.module.css';

.title-box--container{
    height: 100%;
    background-color: var(--backgorund-main-wrapper);
    padding: 2rem;
    border-radius: inherit;
}

.title-box--main{
    display: flex;
    flex-direction: column;
    text-align: center;
}

