.main-navigation--wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    transition: height 1s ease-out;
}

.main-navigation--inner{
    width: 90%;
    display: inherit;
    justify-content: inherit;
    background-color: var(--color-background-secondary);
    border-radius: 0rem 0rem 2rem 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.main-navigation{
    width: 100%;
    display: inherit;
    justify-content: inherit;
}

.main-navigation--menu{
    width: 70%;
    list-style: none;
    display: inherit;
    justify-content: space-between;
}

.main-navigation--item-wrapper{
    /* might come in handy for animations */
}

.main-navigation--item--theme-switcher{
    margin-top: 0.3rem;
}


/*---------------*/
/*Animations*/

/*Nav and Nav Button*/
@keyframes fadeInNav {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeOutNav {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.main-navigation--fade__in{
    animation: fadeInNav 0.05s ease-out forwards;
}

.main-navigation--fade__out{
    animation: fadeOutNav 0.05s ease-out forwards;
}

.main-navigation--phone-actions{
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

/*------*/

/*Nav Wrapper*/
@keyframes slideDownNav {
    0%{
        height: 5rem;
    }
    25%{
        height: 10rem;
    }
    50%{
        height: 15rem;
    }
    75%{
        height: 20rem;
    }
}

@keyframes slideUpNav {
    0%{
        height: 20rem;
    }
    25% {
        height: 15rem;
    }
    50%{
        height: 10rem;
    }
    75%{
        height: 7.5rem;
    }
    100%{
        height: 3.5rem;
    }
}

.main-navigation--slide__down{
    animation: slideDownNav 0.2s ease-out forwards;
}

.main-navigation--slide__up{
    animation: slideUpNav 0.2s ease-out forwards;
}

/*-----*/
/*---------------*/

/*Different Devices*/

/*phones*/
@media (min-width: 320px) and (max-width: 480px){
    .main-navigation--wrapper{
        display: none;
    }
}

/*tablets*/
@media (min-width: 481px) and (max-width: 768px){
    .main-navigation--menu{
        width: 50%;
        height: 20rem;
        list-style: none;
        display: inherit;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .main-navigation{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}

/*laptops*/
@media (min-width: 769px) and (max-width: 1024px){
    .main-navigation--menu{
        width: 50%;
        height: 20rem;
        list-style: none;
        display: inherit;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .main-navigation{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}
