.main-navigation--item {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--color-text-primary);
  transition: color 0.5s, font-size 0.2s;
  text-transform: uppercase;
}

.active__no-expand {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--color-nav-active);
}

.active {
  font-size: 2rem;
  margin-top: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-nav-active);
}

/*different devices*/

/*phones*/
@media (min-width: 320px) and (max-width: 480px) {
  .active {
    font-size: 1.5rem;
    margin-top: unset;
  }
}

/*tablets*/
@media (min-width: 481px) and (max-width: 768px) {
  .active {
    font-size: 1.5rem;
    margin-top: unset;
  }
}

/*laptops*/
@media (min-width: 769px) and (max-width: 1024px) {
  .active {
    font-size: 1.5rem;
    margin-top: unset;
  }
}

/*large screens*/
@media (min-width: 1024px) {
  .active {
    font-size: 2rem;
  }
}
