.login-form--wrapper{
    background-color: var(--color-background-secondary);
    border-radius: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-form--wrapper h1{
    margin-top: 0.5rem;
}

.login-form--form{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.login-form-input--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.login-form--form-input{
    all: unset;
    width: 60%;
    background-color: var(--color-form-background);
    border-radius: 2rem;
    transition: all 0.4s;
}

.login-form--form input:hover{
    cursor: text;
}

.login-form--form input::placeholder{
    color: var(--color-form-placeholder-text);
    transition: all 0.4s;
}

.login-form--input_invalid{
    background-color: var(--color-form-background-error);
    transition: all 0.4s;
}

.login-form--form input:focus{
    background-color: var(--color-form-background-active);
    color: var(--color-form-background);
    transition: all 0.4s;
}

.login-form--form input:focus::placeholder{
    color: var(--color-form-background);
    transition: all 0.4s;
}

.login-form--actions{
    margin-bottom: 2rem;
}

.login-form--actions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.login-form--actions_button-register{
    all: unset;
    font-size: 1.1rem;
}

.login-form--actions_button{
    text-decoration: none;
    padding: 0.4rem 0.9rem;
    border-radius: 2rem;
    border: none;
    color: inherit;
    background-color: var(--color-background-utility-primary);
    transition: background-color 0.4s;
}

.login-form--actions_button:hover{
    color: var(--color-text-hover);
    background-color: var(--color-background-utility-secondary);
    cursor: pointer;
    transition: all 0.4s;
}

.login-form--actions button:disabled{
    background-color: var(--color-button-disabled);
    color: var(--color-button-disabled-text);
    cursor: not-allowed;
    transition: color .4s, background-color .4s;
}

@media only screen and (max-width: 950px){
    .login-form--wrapper{
    }
}