.wrapper{
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.nav--section {
    position: relative;
    z-index: 999;
    padding: 1rem;
    background-color: rgb(128, 128, 128);
    border-radius: 0rem 0rem 2rem 2rem;
    width: 80%;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.navbar--menu{
    width: 35%;
    max-width: 300px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.navbar--menu_item{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.active{
    font-size: 1.5rem;
    text-decoration: none;
    color: peru;
    transition: all 0.3s;
}

.navbar--menu_item:hover{
    color: grey;
    transition: all 0.2s;
}

.navbar--actions{

}

.navbar--button{
    color: white;
    background-color: rgba(133, 42, 155, 0.72);
    border-radius: 2rem;
    border: none;
    padding: 0.5rem 1rem;
}

.navbar--button:hover{
    background-color: #8c5ea4;
    cursor: pointer;
    transition: all 0.4s;
}


@media only screen and (max-width: 950px){
    .navbar--menu_item{
        font-size: 1rem;
        text-decoration: none;
        color: white;
    }

    .active{
        font-size: 1rem;
        text-decoration: none;
        color: peru;
        transition: all 0.3s;
    }

    .navbar{
        gap: 1rem;
    }
}