.title-box--container{
    height: 100%;
    background-color: rgba(181, 164, 238, 0.4);
    padding: 2rem;
    border-radius: inherit;
}

.title-box--main{
    display: flex;
    flex-direction: column;
    text-align: center;
}

