:root {
  --color-background-primary: #2C3333;
  --color-background-primary-50: #738585;
  --color-background-primary-100: #657575;
  --color-background-primary-200: #576464;
  --color-background-primary-300: #485454;
  --color-background-primary-400: #3a4343;
  --color-background-primary-500: #2c3333;
  --color-background-primary-600: #1e2323;
  --color-background-primary-700: #101212;
  --color-background-primary-800: #010202;
  --color-background-primary-900: #000000;
  --color-background-secondary: #395B64;
  --color-background-secondary-50: #80abb6;
  --color-background-secondary-100: #6c9eab;
  --color-background-secondary-200: #5a909e;
  --color-background-secondary-300: #4f7e8b;
  --color-background-secondary-400: #446d77;
  --color-background-secondary-500: #395b64;
  --color-background-secondary-600: #2e4950;
  --color-background-secondary-700: #23383d;
  --color-background-secondary-800: #18262a;
  --color-background-secondary-900: #0d1416;
  --color-background-utility-primary: #7eb2b3;
  --color-background-utility-primary-50: #ffffff;
  --color-background-utility-primary-100: #f2f7f7;
  --color-background-utility-primary-200: #dfecec;
  --color-background-utility-primary-300: #cce0e1;
  --color-background-utility-primary-400: #b8d5d5;
  --color-background-utility-primary-500: #7eb2b3;
  --color-background-utility-primary-600: #92bdbf;
  --color-background-utility-primary-700: #7eb2b3;
  --color-background-utility-primary-800: #6ba6a8;
  --color-background-utility-primary-900: #5b989a;
  --color-background-utility-secondary: #E7F6F2;
  --color-background-utility-secondary-50: #ffffff;
  --color-background-utility-secondary-100: #ffffff;
  --color-background-utility-secondary-200: #ffffff;
  --color-background-utility-secondary-300: #ffffff;
  --color-background-utility-secondary-400: #fdfefe;
  --color-background-utility-secondary-500: #e7f6f2;
  --color-background-utility-secondary-600: #d1eee6;
  --color-background-utility-secondary-700: #bae5da;
  --color-background-utility-secondary-800: #a4ddce;
  --color-background-utility-secondary-900: #8ed5c2;
  --color-text-primary: #EEF1FF;
  --color-text-primary-50: #ffffff;
  --color-text-primary-100: #ffffff;
  --color-text-primary-200: #ffffff;
  --color-text-primary-300: #ffffff;
  --color-text-primary-400: #ffffff;
  --color-text-primary-500: #eef1ff;
  --color-text-primary-600: #cfd8ff;
  --color-text-primary-700: #b1bfff;
  --color-text-primary-800: #92a5ff;
  --color-text-primary-900: #748cff;
  --color-nav-active: #AAC4FF;
  --color-nav-active-500: #AAC4FF;
  --color-text-hover: #748cff;
  --color-text-hover-500: #748cff;
  --color-text-hover-secondary: #8b8c8e;
  --color-text-hover-secondary-500: #8b8c8e;
}