@import "../.mirrorful/theme.css";
@import "../.mirrorful/darktheme.css";

* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.7;
  font-weight: 900;
  text-align: center;
  background-color: var(--color-background-primary);
  height: 100%;
  transition: background-color 0.5s;
}

#root {
  min-height: 100%;
  display: flex;
  z-index: 1;
}

// Used on all pages except of 'Home' page
.main {
  background-color: var(--color-background-primary);
  min-height: 100vh;
  width: 100%;
  color: var(--color-text-primary);
  transition: background-color 0.5s, color 1s;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

// Used on 'Home' page to fix the bug with moving-squares background
.main-home {
  min-height: 100vh;
  width: 100%;
  color: var(--color-text-primary);
  transition: background-color 0.5s, color 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font: inherit;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

//Scrollbar
// -------------------------------------------
::-webkit-scrollbar {
  //display: none; - Will be done once horizontal scroll on top is created
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
// -------------------------------------------

// Styling for icons (currently only on 'ProductPageItems')
.custom-icons {
  width: 30px;
  height: 30px;
  margin-top: 0.7rem;
}

// Don't know what is this and if it is used
.context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}
